node_modules/

# Expo
.expo/
dist/
web-build/

# Native builds
android/
ios/

# Secrets / env
.env
.env.local
.env*.local

# Logs
npm-debug.*
yarn-debug.*
yarn-error.*
*.log

# macOS
.DS_Store

# Editor
.idea/
.vscode/
*.swp

# Expo local
*.orig.*
